<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <title>{% block title %}eDziekanat{% endblock %}</title>
</head>

<body>
{% block header %}

{% endblock %}
<div class="container container-main">
        <div class="columns">
            {% include 'edziekanat_app/sidebar.html' %}
            {% block content %}Missing content{% endblock %}
        </div>
</div>
{% block footer %}
{% endblock %}
</body>
</html>