{% extends 'edziekanat_app/base.html' %}
{% block header %}
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% if user.is_authenticated %}
    {% include 'edziekanat_app/navbar.html' %}
{% endif %}
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
            <div class="column is-9">
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Na tej stronie znajduje się lista przypisanych administratorów oraz moderatorów.<br />
                                TODO: GET ALL ADMINS AND MODERATORS DISPLAY IN TABLE<br />
                                FEATURE: USE SELECT2 TO SET ADMINS AND MODERATORS
                            </h1>
                        </div>
                    </div>
                </section>
                    <div class="columns">
                        <div class="column">
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        Administratorzy
                                    </p>
                                </header>
                                <div class="card-content">
                                    <div class="field">
                                        <div class="control">
                                            <label class="label" for="admins">Administratorzy systemu</label>
                                            <div class="select is-fullwidth">
                                                <select id="admins" name="admins[]" multiple="multiple" class="select-multiple" style="width: 100%;">
                                                    <option value="marcin">TODO: WRITE ADMIN GETTER/SETTER SELECT2</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="columns">
                        <div class="column">
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        Moderatorzy
                                    </p>
                                </header>
                                <div class="card-content">
                                    <div class="field">
                                        <div class="control">
                                            <label class="label" for="moderators">Moderatorzy systemu</label>
                                            <div class="select is-fullwidth">
                                                 <select id="moderators" name="moderators[]" multiple="multiple" class="select-multiple" style="width: 100%;">
                                                    <option value="marcin">TODO: WRITE ADMIN GETTER/SETTER SELECT2</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
    <script>
    $(document).ready(function() {
        $('.select-multiple').select2();
    });
    </script>
{% else %}
    {% include 'edziekanat_app/user/login.html' %}
{% endif %}
{% endblock %}