{% extends 'base.html' %}

{% block header %}
    {% include 'components/navbar.html' %}
{% endblock %}

{% block sidebar %}
    {% include 'components/sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="column is-10">
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Kategorie wniosków
                    </h1>
                </div>
            </div>
        </section>
        <div class="columns">
            <div class="column">
                {% if invoices %}
                    {% for invoice in invoices %}
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    {{ invoice.name }}
                                </p>
                                <button class="card-header-icon" aria-label="more options"
                                        onclick="hide('{{ invoice.id }}')">
                          <span class="icon">
                            <i class="fas fa-angle-down" id="icon{{ invoice.id }}" aria-hidden="true"></i>
                          </span>
                                </button>
                            </header>
                            <div class="card-content is-hidden" id="{{ invoice.id }}">
                                <p>
                                    {% autoescape off %}
                                        {{ invoice.description }}
                                    {% endautoescape %}
                                </p>
                                <p>
                                    <a href="{{ invoice.faq_link }}" target="_blank">{{ invoice.faq_link }}</a>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Brak utworzonych kategorii wniosków
                            </p>
                        </header>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if request.user.role.name != 'Student' %}
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title">
                                Utwórz nową kategorię
                            </p>
                        </div>
                        <div class="card-content">
                            <a href="{% url 'edziekanat_app:create_invoice_category' %}" class="button is-primary">Utwórz
                                nową kategorię</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <script>
        function hide(id) {
            if ($('#' + id).hasClass('is-hidden')) {
                $('#' + id).removeClass('is-hidden');
                $('#icon' + id).removeClass('fa-angle-down');
                $('#icon' + id).addClass('fa-angle-up');
            } else {
                $('#' + id).addClass('is-hidden');
                $('#icon' + id).removeClass('fa-angle-up');
                $('#icon' + id).addClass('fa-angle-down');
            }
        }
    </script>
{% endblock %}