<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="navbar-item">
          Zalogowano jako {{acc.user.email}}
        </div>
        <div class="buttons">
          <a class="button is-primary" href="{% url 'edziekanat_app:logout' %}">
            Wyloguj
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>