<section class="container">
    <div class="columns is-multiline">
        <div class="column is-8 is-offset-2 register">
            <div class="columns">
                <div class="column left">
                    <h1 class="title is-1">edziekanat</h1>
                    <h2 class="subtitle colored is-4">Tutaj jakieś fajne motto</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ex deleniti aliquam tempora
                        libero excepturi vero soluta odio optio
                        sed.</p>
                </div>
                <div class="column right has-text-centered">
                    <h1 class="title is-3">Rejestracja</h1>

                    <form method='POST' action=''>
                        {% csrf_token %}
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                                {{ form }}
                            {% endfor %}
                        {% else %}
                            {{ wizard.form.media }}
                            {% for field in wizard.form %}
                                {% if field.field.widget.input_type == 'select' %}
                                    <div class="field">
                                        <label class="label">{{ field.field.widget.attrs.label }}</label>
                                        <div class="control">
                                            <div class="select is-fullwidth">
                                                {{ field }}
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="field">
                                        <div class="control">
                                            {{ field }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <button class="button is-block is-primary is-fullwidth is-medium">{% if wizard.step  %}</button>
                        <br/>
                        <small>Jeśli posiadasz konto - <a href="{% url 'edziekanat_app:user_login' %}">Zaloguj
                            się</a></small>
                    </form>
                </div>
            </div>
        </div>
        <div class="column is-8 is-offset-2">
            <br>
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                <span class="icon">
                  <a><i class="fab fa-github"></i></a>
                </span> &emsp;
                        <span class="icon">
                 <a> <i class="fas fa-envelope"></i></a>
                </span>
                    </div>
                </div>
                <div class="level-right">
                    <small class="level-item" style="color: var(--textLight)">
                        Inżynieria oprogramowania {{ time.year }} &copy; Dawid Bryła, Marcin Cichowski, Kacper
                        Jankowski, Jacek Kwieciński
                    </small>
                </div>
            </nav>
        </div>
    </div>
</section>
