<div class="select">
    <label for="category_select">Kategoria</label>
    <select id="category_select">
        <option value="" selected disabled hidden>Wybierz kategorię</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
</div>

<div class="select" id="invoice_select_div">
    <label for="invoice_select">Wniosek</label>
    <select id="invoice_select">
        <option value="" selected disabled hidden>Wybierz wniosek</option>
        <option value="">2</option>
        <option value="">3</option>
        <option value="">4</option>
    </select>
</div>