<!DOCTYPE html>
<html lang="pl">
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static "images/put_logo_text.png" %}"/>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <title>{% block title %}eDziekanat{% endblock %}</title>
</head>

<body>
{% block header %}{% endblock %}
<div class="container container-main is-fluid">
    <div class="columns">
        {% block sidebar %}{% endblock %}
        {% include 'components/notification.html' %}
        {% block content %}{% endblock %}
    </div>
</div>
{% block messages %}
    <ul class="messages" id="messages-list">
        {% if messages %}
            {% for message in messages %}
                <li>
                    {% if message.tags %}
                        <div class="columns is-justify-content-center">
                            <div class="column is-8">
                                <div class="notification is-{{ message.tags }} is-fullwidth msg fade show" role="alert">
                                    <button class="delete"></button>
                                    {{ message }}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="notification is-info msg fade show" role="alert">{{ message }}</div>
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>
{% endblock %}
{% block footer %}
{% include 'components/footer.html' %}
{% endblock %}

</body>

</html>