{% extends 'base.html' %}

{% block header %}
    {% include 'components/navbar.html' %}
{% endblock %}

{% block sidebar %}
    {% include 'components/sidebar.html' %}
{% endblock %}


{% block content %}
    <div class="column is-10">
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Modele wniosków
                    </h1>
                </div>
            </div>
        </section>

        <div class="tabs is-centered">
            <ul>
                <li class="applications is-active"><a onclick="changeTab('applications')">Wnioski</a></li>
                <li class="subjects"><a onclick="changeTab('subjects')">Przedmioty</a></li>
                <li class="cathedral"><a onclick="changeTab('cathedral')">Katedry</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="applications" class="tab-pane fade is-active">
                Wnioski
            </div>
            <div id="subjects" class="tab-pane fade">
                Przedmioty
            </div>
            <div id="cathedral" class="tab-pane fade">
                <form method="post">
                    {% csrf_token %}
                    <div class="field has-addons">
                        <div class="control">
                            {{ form }}
                        </div>
                        <div class="control">
                            <a type="submit" class="button is-info">
                                Dodaj
                            </a>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    TODO: GET DICTIONARY VALUES, PUT THEM INTO TABLE
                </div>
            </div>
        </div>
    </div>

    <script>
        function changeTab(id) {
            $(".tabs ul li").removeClass("is-active");
            $("." + id).addClass("is-active");
            $(".tab-pane").removeClass("is-active");
            $("#" + id).addClass("is-active");
        }
    </script>
{% endblock %}