@import 'colors';
@import "../bulma/bulma";
@import url(https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27);

body{
    font-family: Roboto, sans-serif;
    background: #ECF0F3;;
}

.navbar{
    background-color: $footer-background-color;
}
.image{
    min-height: 3rem;
    width: auto;
}
.navbar-brand{
    min-height: 5rem;
}
.navbar-burger{
    color: $base-color;
    &:hover{
        color: $base-hover
    }
    min-height: 5rem;
}
.notification.is-primary {
  position: absolute;
  z-index: 1;
}
.icon-button{
    text-align: center;
    i{
        margin: 0 auto;
    }
}

.navbar-item, .navbar-item.is-tab.is-active, .navbar-item.is-tab {
    color: $base-color;
    @media only screen and (max-width: 1023px){
        color: invert($base-color);
        &:hover{
            color: invert($base-color, 70%) !important;
        }
    }

    &:hover{
        color: invert($base-color, 10%);
    }
}



.navbar {
    min-height: 5rem;
}

.navbar-item.is-tab.is-active{
    border-bottom-color: $base-color;
    &:hover{
        border-bottom-color: invert($base-color, 10%);
    }
}

.badge-light {
    margin-top: 2.5em;
}

.footer {
    position: fixed;
    background-color: $footer-background-color;
    color: $base-color;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    a{
        color: $base-color;
        &:hover{
            color: invert($base-color, 20%)
        }
    }
     @media only screen and (max-width: 768px){
        padding-top: 20px;
        padding-bottom: 20px;
    }
    @media only screen and (max-height: 500px) {
            position: static;
    }
}
.container-main {
    margin: 0 auto;
    margin-top: 1rem;
    min-height: calc(100vh - 108px);
    padding-bottom: 150px;
    @media only screen and (max-height: 500px) {
        height: auto;
    }
    @media only screen and (max-width: 768px){
        min-height: calc(100vh - 52px - 87px);
    }

}

.field:not(:last-child) {
    margin-bottom: 1rem;
}

.register {
    margin-top: 10rem;
    background: white;
    border-radius: 10px;
}

.left,
.right {
    padding: 4.5rem;
}

.left {
    border-right: 5px solid var(--background);
}

.left .title {
    font-weight: 800;
    letter-spacing: -2px;
}

.left .colored {
    color: var(--brandColor);
    font-weight: 500;
    margin-top: 1rem !important;
    letter-spacing: -1px;
}

.left p {
    color: var(--textLight);
    font-size: 1.15rem;
}

.right .title {
    font-weight: 800;
    letter-spacing: -1px;
}

.right .description {
    margin-top: 1rem;
    margin-bottom: 1rem !important;
    color: var(--textLight);
    font-size: 1.15rem;
}

.right small {
    color: var(--textLight);
}

input {
    font-size: 1rem;
}

input:focus {
    border-color: var(--brandColor) !important;
    box-shadow: 0 0 0 1px var(--brandColor) !important;
}



.fab,
.fas {
    color: var(--textLight);
    margin-right: 1rem;
}

.select2-container--default .select2-selection--multiple{
    height: 40px !important;
}

@media only screen and (max-width: 768px){
   .register{
      margin-top: 0;
   }
}

.tab-pane{
  display: none;
}
.tab-pane.is-active{
  display: block;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.fade{
  animation: 0.7s linear fadeEffect;
}

@media screen and (max-width: 768px) {
  #menu-toggle:checked + .navbar-menu {
    display: block;
  }
}